{% extends 'base.html' %}

{% block title %} Add a New Recipe {% endblock %}
{% block content %}
    <form method="POST">
        <div class="form-group">
            <label for="title">Recipe Title</label>
            <input class="form-control form-control-lg" type="text" name="title" id="title" placeholder="Recipe Name" required></input>
        </div>

        <div class="form-group">
            <label for="url">Link</label>
            <input class="form-control" name="url" id="url"
                placeholder="https://www.example.com" pattern="https://.*"
                required>
            </input>
        </div>

        <div class="form-group">
            <label for="comment">Comments</label>
            <textarea class="form-control" id="comment" name="comments"
                placeholder="Add any comments related to the recipe" rows="5"></textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
